<div class="experience-card">

  <!-- Experience title-->
  <div class="experience-card-title">
    <%= experience.title %>
  </div>

  <!-- Experience Block with image -->
  <div class="experience-card-block">
    <% if experience.adventure.picture_file_name %>

      <!-- Link to details experience -->
      <%=link_to details_experience_path(id: experience), class:'link' do %>
        <div class= 'experience-card-block-link' style="background-image: url(<%= experience.adventure.picture.url %>);">
        </div>
      <% end %>

      <!-- Experience status : done, to do -->
      <div class="experience-card-block-status">
        <% if experience.done %>
          <i class="fa fa-heart padding-horizontal"></i>
        <% else %>
          <i class="fa fa-check padding-horizontal"></i>
        <% end %>
      </div>
      <div class="board bottom-fit">
        <%= render 'shared/board', experience: experience %>
      </div>
    <% end %>
  </div>

  <!-- Inspired By -->
  <div class="experience-card-user">
    <% if experience.actor %>
      <span>Inspired by <%= experience.actor.first_name %> <br>
      <span>Created by <%= experience.adventure.user.first_name %></span>
      </span>
<!--       <div class="card-user-avatar">
      </div> -->
    <% else %>
      <span>Created by <%= experience.inspirer.first_name %></span>
<!--       <div class="card-user-avatar">
      </div> -->
    <% end %>
  </div>


</div>
