<!-- <div class="board-item">
  <%= link_to root_path do %>
    <i class="fa fa-star"></i>
    <div class="board-item-text">Sélection</div>
  <% end %>
</div> -->
<div class="board-item">
  <%= link_to experiences_path do %>
    <i class="fa fa-lightbulb-o"></i></i><br>
    <div class="board-item-text">Trouver des idées</div>
  <% end %>
</div>
<!-- <div class="board-item">
  <%= link_to account_todo_path do %>
    <i class="fa fa-list"></i><br>
    <div class="board-item-text">Ma to do</div>
  <% end %>
</div> -->
<div class="board-item">
  <%= link_to account_experiences_path do %>
    <i class="fa fa-user"></i><br>
    <div class="board-item-text">Moi</div>
  <% end %>
</div>
<div class="board-item">
  <%= link_to new_adventure_path do %>
    <i class="fa fa-plus-circle"></i><br>
    <div class="board-item-text">Créer une expérience</div>
  <% end %>
</div>


