<div class="margin-footbar">
  <div class="home-banner home-banner-intro text-center">
    <div class="home-banner-shadow"></div>
    <div class="home-banner-content ">
      <h1>Vivez vos expériences</h1>
      <!-- <p>créez vos todo-lists et conservez les expériences marquantes de votre vie</p> -->
    </div>
    <div class="ghost-btn-holder-banner">
      <%= link_to "générateur d'idées", experiences_path, class: "ghost-btn-white" %>
    </div>
  </div>

  <div class= "home-bandeau-content text-center">
    <p>Qu'allez-vous vivre ce mois-ci ?</p>
  </div>

  <div class="home-banner home-banner-foodie text-center">
    <div class="home-banner-shadow"></div>
     <h2><%= link_to "Foodie", experiences_path, class: "home-banner-content link-home" %></h2>
  </div>
  <div class="home-banner home-banner-sport text-center">
    <div class="home-banner-shadow"></div>
    <h2><%= link_to "Sport", experiences_path, class: "home-banner-content link-home" %></h2>
  </div>
  <div class="home-banner home-banner-sweetlife text-center">
    <div class="home-banner-shadow"></div>
     <h2><%= link_to "Sweetlife", experiences_path, class: "home-banner-content link-home" %></h2>
  </div>
  <div class="home-banner home-banner-evasion text-center">
    <div class="home-banner-shadow"></div>
     <h2><%= link_to "Voyage", experiences_path, class: "home-banner-content link-home" %></h2>
  </div>
  <div class="home-banner home-banner-spectacle text-center">
    <div class="home-banner-shadow"></div>
     <h2><%= link_to "Spectacle", experiences_path, class: "home-banner-content link-home" %></h2>
  </div>


  <div class= "home-bandeau home-bandeau-content text-center">
    <p>Créez vos expériences personnelles</p>
    <div class="ghost-btn-holder">
      <%= link_to 'créer', new_adventure_path, class: "ghost-btn-grey" %>
    </div>
</div>
</div>
<!-- </div> -->
<!-- <div class= "home-bandeau-content text-center">
  <p>Comment ça marche</p>
    <div class="container">
      <div class="row">
        <div class="col-xs-4">trouver l'inspiration</div>
        <div class="col-xs-4"></div>
        <div class="col-xs-4">créer des albums souvenir</div>
      </div>
    </div>
 </div> -->
