<div class="margin-footbar">
  <% if @message != nil %>
    <div>
      <h2 class='padding-60'><%= @message %></h2>
    </div>
  <% else %>
    <div id='mainInfo'>
      <%= render 'shared/banner', experience: @experience %>
    </div>
  <!--   </div> -->
  <!-- <div class="row hidden" id="details"> -->
    <div id="detailInfo" class="hidden">
      <%= render 'shared/show_details', experience: @experience %>
    </div>
    <%= render 'shared/experience_selection_board', experience: @experience %>
  <% end %>
</div>

<%= content_for :after_js do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('#showDetails').on('click', function() {
        $('#detailInfo').toggleClass('hidden');
        if($('.fa-arrow-up').length > 0) {
          $('.fa-arrow-up').attr('class', "fa fa-arrow-down");
        } else {
          $('.fa-arrow-down').attr('class', "fa fa-arrow-up");
        }
      })
    })
  <% end %>
<% end %>
