<!-- New Experience Creation -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <%= simple_form_for(@experience) do |f| %>
          <%= f.error_notification %>
          <%= f.input :title %>
          <%= f.association :categories, collection: Category.all, as: :check_boxes, prompt: "choisissez une catégorie" %>
          <%= f.input :picture %>
          <%= f.input :description %>
          <%= f.input :address %>
          <%= f.input :startdate, as: :string, input_html: {class: 'datetime'}%>
          <%= f.input :enddate, as: :string, input_html: {class: 'datetime'}%>
          <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>


<script>
  $(function() {
  $( "#datepicker" ).datepicker();
  });
</script>
