<!-- Experience Details View -->
<div class="container">

  <!-- Banner -->
  <div class="row">
    <div class="col-xs-12 padding-0">
      <div class="experience-details-banner" style="background-image: url(<%= @experience.adventure.picture.url %>);">
        <div class="experience-details-banner-content">
          <h1 class="padding-60"><%= @experience.title %></h1>
          <p>inspiré par <%= image_tag(@experience.inspirer.picture, class:'avatar') %></p>
        </div>
        <div class="experience-details-banner-shadow"></div>
        <div class="experience-details-banner-category">Voyage</div>
      </div>
    </div>
  </div>


  <!-- Details experience -->
  <div class="row">
    <div class="col-xs-12 padding-0">
      <div class="experience-details-card">

        <!-- Start date -->
        <div class="experience-details-card-item">
          <i class="fa fa-calendar"></i>
          <span><%= @experience.adventure.start_date %></span>
        </div>

        <!-- End date -->
        <div class="experience-details-card-item">
          <i class="fa fa-calendar"></i>
          <span><%= @experience.adventure.end_date %></span>
        </div>

        <!-- Duration -->
        <div class="experience-details-card-item">
          <i class="fa fa-hourglass-start"></i>
          <span><%= @experience.adventure.duration %></span>
        </div>

        <!-- Description -->
        <div class="experience-details-card-item">
          <span>
            <i class="fa fa-align-justify"></i>
            <%@experience.adventure.description %>
          </span>
        </div>

        <!-- Address -->
        <div class="experience-details-card-item">
          <i class="fa fa-compass"></i>
          <span><%= @experience.adventure.address %></span>
        </div>
      </div>
    </div>
  </div>

  <!-- Cross - Heart - Check Board -->
  <div class="row">
    <div class="col-xs-12 padding-0">
      <div class="board bg-transparent">
        <%= render 'shared/experience_selection_board', experience: @experience %>
      </div>
    </div>
  </div>
</div>


<!-- CODE FOR OTHER WAY TO CODE  -->
<!-- INFORMATION DETAILS : TABLES -->
<!-- <div class="experience-details-card">
  <table>
    <tr>
      <td><i class="fa fa-calendar"></i></td>
      <td>Du</td>
    </tr>
    <tr>
      <td><i class="fa fa-calendar"></i></td>
      <td>Au</td>
    </tr>
    <tr>
      <td><i class="fa fa-hourglass-start"></i></td>
      <td>Durée</td>
    </tr>
  </table>
</div> -->


<!-- INFORMATION DETAILS : BOOTSTRAP RESPONSIVE GRID -->
<!-- <div class="experience-details-card"> -->
<!--   <div class="container">
    <div class="row">
      <div class="col-xs-1">
        <div class="experience-details-card-item">
          <i class="fa fa-calendar"></i>
        </div>
      </div>
      <div class="col-xs-11">
        <div class="experience-details-card-item">
          From :  <%= @experience.adventure.start_date %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="experience-details-card-item">
          <i class="fa fa-calendar"></i>
          To : <%= @experience.adventure.end_date %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="experience-details-card-item">
          <i class="fa fa-hourglass-start"></i>
          Duration : <%= @experience.adventure.duration %> heures
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" >
        <div class="experience-details-card-item">
          <i class="fa fa-info"></i>
          Description : <%= @experience.adventure.description%>
        </div>
      </div>
    </div>
  </div> -->
<!-- </div> -->








