
<% if @experiences.present? %>

  <div class="container">
    <row>
      <div class="col-xs-12 text-center">
        <div class="bubble-container" style="background-image: url(<%=@hash_pic[@categories.first]%>)">
          <div class="category-bubble">
            <%=@categories.first%>
            <div class="icon-badge icon-badge-twelve icon-badge-<%=@categories.first%>"><%#=@hash_count[@categories.first]%></div>
            <%@categories.delete(@categories.first)%>
          </div>
        </div>
      </div>
    </row>

    <row>
      <% @categories.each do |category| %>
        <div class="col-xs-6 text-center">
          <div class="bubble-container" style="background-image: url(<%=@hash_pic[category]%>)">
              <div class="category-bubble"><%=category%></div>
              <div class="icon-badge icon-badge-<%=category%>"><%#= @hash_count[category].to_s %></div>
          </div>
        </div>
      <% end %>
    </row>
  </div>


<% else %>
  <span>Vous n'avez pas encore d'expériences dans votre vision board</span>
<% end %>





