<% if @experiences.present? %>
 <div class="container margin-footbar link-home">
   <row>
     <div class="col-xs-12 text-center">
       <div class="bubble-container" style="background-image: url(<%=@hash_pic[@categories.first]%>)">
         <div class="category-bubble">
           <div class="icon-badge icon-badge icon-badge-<%=@categories.first%>">
             <%=@hash_count[@categories.first].size%>
           </div>
           <%= link_to account_my_index_path(category: @categories.first) do %>
             <div class="category-container category-container-twelve">
               <div class="category-container-shadow">
             <div class="category-bubble-detail">
               <%=@categories.first%>
               <%@categories.delete(@categories.first)%>
             </div>
           </div>
           <% end %>
         </div>
       </div>
     </div>
   </row>

   <row>
     <% @categories.each do |category| %>
       <div class="col-xs-12 text-center">
         <div class="bubble-container" style="background-image: url(<%=@hash_pic[category]%>)">
           <div class="icon-badge icon-badge-<%=category%>">
             <%= @hash_count[category].size %>
           </div>
           <%= link_to account_my_index_path(category: category) do %>
             <div class="category-container">
               <div class="category-container-shadow">
               <div class="category-bubble-detail">
                 <%=category%>
               </div>
             </div>
           <% end %>
         </div>
       </div>
     <% end %>
   </row>
 </div>

<% else %>
 <div><%=@message%></div>
<% end %>
