<div class="margin-top-60">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#toDo" aria-controls="toDo" role="tab" data-toggle="tab">A vivre</a></li>
    <li role="presentation"><a href="#done" aria-controls="done" role="tab" data-toggle="tab">Vécu</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="toDo">
      <% if @to_do_experiences.present? %>
        <% @to_do_experiences.each do |experience| %>
          <%=render 'shared/list_item', experience: experience %>
          <div id="experience_<%=experience.id%>" class="hidden">
            <%= render 'shared/show_details', experience: experience %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="done">
      <% if @done_experiences.present? %>
        <% @done_experiences.each do |experience| %>
          <h3>TODO</h3>
          <%=render 'shared/patchwork', experience: experience %>
          <div id="experience_<%=experience.id%>" class="hidden">
            <%= render 'shared/show_details', experience: experience %>
          </div>
        <% end %>
      <% else %>
        <h2>Vous n'avez pas encore vécu d'expériences de ce type. C'est le moment de se lancer!</h2>
      <% end %>
    </div>
  </div>
</div>

<%= content_for :after_js do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $(".list-item").on("click", function(){
        var experienceId = $(this).data("target");
        var selector = "#experience_" + experienceId;
        $(selector).toggleClass("hidden");
      });
    });
  <% end %>
<% end %>
